.button, .btn {
    font-size: 1.2rem;
    text-decoration: none;
    border: none;
    border-radius: 5%;
    padding: 5px 10px;
    background-color: cornflowerblue;
    color: whitesmoke;
    transition: 0.2s;
    margin-bottom: 20px;
    text-transform: uppercase;
    margin-top: 20px;
}

.button:hover, .btn:hover {
    cursor: pointer;
    background-color: #074d7b;
}
