.dog-info {
    width: 100%;
    height: 80vh;
    margin: 5vh 20px 0 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.info {
    width: 50vw;
}

.dog-name {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    padding: 20px 0 20px;
    color: #074d7b;
    text-transform: uppercase;
}

img {
    height: 50vh;
    width: 40%;
    margin-left: 20px;
}

.description {
    margin: 20px 0 20px 0;
    color: #074d7b;
    font-size: 1.2rem;
    max-width: 45vw;
}

.dog-city {
    margin-bottom: 20px;
    font-size: 1.1rem;
}

@media (max-width: 1024px) {
    img {
        height: 220px;
    }
}

@media (max-width: 800px) {
    img {
        height: 200px;
    }
    .description {
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    img {
        height: 150px;
    }
    .description {
        font-size: 0.9rem;
        width: 200px;
    }
}

@media (max-width: 300px) {
    img {
        height: 120px;
    }
    .description {
        font-size: 0.7rem;
        width: 150px;
    }
}

