.dog-box {
    height: 340px;
    width: 290px;
    background-color: whitesmoke;
    border-radius: 7px;
    margin: 30px 15px 15px 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

img {
    height: 140px;
    width: 250px;
}
.dog-name {
    width: 100%;
    font-size: 1.4rem;
    text-align: center;
    padding: 15px;
    color: #074d7b;
    text-transform: uppercase;
}
